@tailwind base;
@tailwind components;
@tailwind utilities;

/* Makes sure entire page takes up the full viewport height for formatting */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #E5EDE1; /* Set the background color for the entire page */
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the app takes full height */
  background: #E5EDE1; /* Set the background color for the App container */
}


.content {
  flex: 1;
  padding-top: 100px;
}
  
h1 {
  color: #333;
}
  
p {
  color: #666;
}
  
nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #0070f3;
}
  
nav a:hover {
  text-decoration: underline;
}
