@tailwind base;
@tailwind components;
@tailwind utilities;

/* Makes sure entire page takes up the full viewport height for formatting */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #E5EDE1; /* Set the background color for the entire page */
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the app takes full height */
  background: #E5EDE1; /* Set the background color for the App container */
}


.content {
  flex: 1;
  padding-top: 100px;
}
  
h1 {
  color: #333;
}
  
p {
  color: #666;
}
  
nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #0070f3;
}
  
nav a:hover {
  text-decoration: underline;
}

/* remove autofill yellow background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px rgb(238, 237, 237) inset !important;
}

/* remove yellow autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #333 !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* green focus ring for all inputs */
input:focus {
  outline: none !important;
  border-color: #5B6D50 !important;
  box-shadow: 0 0 0 2px rgba(91, 109, 80, 0.2) !important;
}