@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AnotherFont';
  src: url('/fonts/CELTG.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rbg(233, 222, 193);
  font-family: 'AnotherFont', Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Makes sure entire page takes up the full viewport height for formatting */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #E5EDE1; /* Set the background color for the entire page */
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the app takes full height */
  background: #E5EDE1; /* Set the background color for the App container */
}


.content {
  flex: 1;
  padding-top: 100px;
}
  
h1 {
  color: #333;
}
  
p {
  color: #666;
}
  
nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #0070f3;
}
  
nav a:hover {
  text-decoration: underline;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}
