/* Navbar styles for the application */
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

@font-face {
    font-family: 'Lalezar';
    src: url('https://fonts.gstatic.com/s/lalezar/v10/2sD4c0v1g3Y5f6x8z7k0.woff2') format('woff2');
         
         
    font-weight: normal;
    font-style: normal;
}
  

  .login-container {
    font-family: 'Lalezar', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-size: 35px;
    gap: 15px;
    box-sizing: border-box;
}


.login-container input {
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    font-size: 16px;
    border: 2px solid #5B6D50 ; 
    border-radius: 4px;
    color: #5B6D50;
    

}
.login-container input:focus {
    border: 3px solid #5B6D50;
    outline: none;
    
}

.login-container button {
    padding: 10px;
    background: #5B6D50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button-format {
    display: flex;
    gap: 10px; 
    margin-top: 20px; 
}

.login-container button:hover {
    background: #1f380f;
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

.forgot-password-button{
    padding: 10px;
    background: #1f380f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.password-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
