/* Navbar styles for the application */
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

@font-face {
    font-family: 'Lalezar';
    src: url('https://fonts.gstatic.com/s/lalezar/v10/2sD4c0v1g3Y5f6x8z7k0.woff2') format('woff2');
         
         
    font-weight: normal;
    font-style: normal;
}

  .navbar {
    font-family: 'Lalezar', Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
    background-color: #5B6D50;
    display: flex; 
    align-items: center; 
    background-color: #5B6D50;
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px; 
    padding: 10px 20px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .logo{
    display: flex;
    align-items: center;
    font-size: 70px;
    color: white;
  }
  .logo img {
    border-radius: 8px;
    width: 125px;
    height: 125px;
    margin-right: 10px;
  }
  
  .nav-links{
    font-size: 20px;
    display: flex;
    margin-left: auto;
    align-items: flex-end;
    color: #f2f2f2;
    background: #5B6D50;
    text-align: center;
    padding: 14px 16px;
    gap: 15px;
    margin-right: 40px;
  }
  
  .nav-links .cart{
    background-color: #1f380f;
    padding: 14px 16px;
    border-radius: 15px;
    display: flex;
    align-items:center;
    gap: 5px;
  }
  
  
  .nav-links .cart img {
    border: #000000;
    position: relative;
    top: -3px; 
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  