* {
  box-sizing: border-box;
}

.navbar {
  background-color: #5B6D50;
  font-family: 'Lalezar', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: white;
}

.logo img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 8px;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
}

.cart {
  background-color: #1f380f;
  padding: 10px 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: white;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1000;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

/* when clicking hamburger icon (3 bars), it turns into an x after the dropdown appears */
.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open div:nth-child(2) {
  opacity: 0;
}
.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* responsive dropdown menu*/
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #5B6D50;
    width: 100%;
    padding: 0;
    z-index: 998;
  }

  .nav-links.show {
    display: flex;
    padding: 10px 20px;
  }

  .nav-links a {
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
  }

  .cart {
    background-color: transparent;
    padding: 0;
  }
}
