@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.user-dashboard-container {
    background: #E5EDE1;
    padding: 100px 20px 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lalezar', sans-serif;
}

.order-section {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.order-section .title-line {
    width: 100%;
    border: 2px solid #5B6D50;
    margin-bottom: 20px;
    border-radius: 5px;
}

.order-section a {
    color: #5B6D50;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.2s ease;
}

.order-section a:hover {
    color: #3F4D30;
    text-decoration: underline;
}

.order-header {
    font-size: 36px;
    color: #3F4D30;
    margin-bottom: 10px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    background-color: #F5F8F2;
    border-radius: 10px;
    overflow: hidden;
}

.order-table th, 
.order-table td {
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
}

.order-table thead {
    background-color: #98A78F;
    font-weight: bold;
    color: #fff;
}

.order-table tr:nth-child(even) {
    background-color: #DFD8BF;
}

.order-table tr:hover {
    background-color: #C6D3B6;
}

.order-table a {
    color: #5B6D50;
    font-weight: 600;
}

.account-details {
    width: 100%;
    background-color: #DFD8BF;
    border: 2px solid #5B6D50;
    border-radius: 15px;
    padding: 25px;
}

.account-details h1 {
    font-size: 28px;
    color: #3F4D30;
    margin-bottom: 15px;
}

.list-info {

  background-color: #DFD8BF;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'Lalezar', sans-serif;
}

.info-row {
  display: flex;
  flex-wrap: wrap; 
  align-items: flex-start; 
}

.info-row dt {
  width: 150px;
  font-weight: bold;
  font-size: 24px;
}

.info-row dd {
  margin: 0;
  font-size: 20px;
  color: #3F4D30;
  line-height: 1.4;
}
.info-row dd div {
  margin-bottom: 2px;
}