@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

@font-face {
    font-family: 'Lalezar';
    src: url('https://fonts.gstatic.com/s/lalezar/v10/2sD4c0v1g3Y5f6x8z7k0.woff2') format('woff2');
         
         
    font-weight: normal;
    font-style: normal;
}
  
.user-dashboard-container {
    background: #E5EDE1;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lalezar', sans-serif;
    padding-bottom: 200px;
    
}
.order-section {
    width: 75%; 
    display: flex;
    flex-direction: column;
}

.order-section .title-line {
    width: 80%;
    border: 1px solid black;
    margin-bottom: 20px;
}


.order-table{
    
    width: 75%;
    border-collapse: collapse;
    font-size: 23px;
    text-align: left;
    align-items: center;
    margin-top: -20px; 
}

.order-table th, .order-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.order-table thead {
    background-color: #98A78F;
    font-weight: bold;
  }
  
.order-table tr:nth-child(even) {
    background-color: #DFD8BF;
  }

  .order-table a {
    color: #5b8a43;
  }

.account-details {
    
    align-self: flex-start;
    text-align: left;
    margin-left: 0;

}

.account-details .title-line {
    width: 200%;

    border: 1px solid black;
    margin-bottom: 20px;
}

.order-section a {
    color: #5b8a43;
    font-size: 26px;
  }

.list-info{
    border: 2px solid black;
    background-color:#DFD8BF;
    padding: 20px;
    border-radius: 20px;
}

.list-info dt{
    font-size: 24px;
    text-align: left;
    text-underline-position: below;
  

}