/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/footer.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

@font-face {
    font-family: 'Lalezar';
    src: url('https://fonts.gstatic.com/s/lalezar/v10/2sD4c0v1g3Y5f6x8z7k0.woff2') format('woff2');
         
         
    font-weight: normal;
    font-style: normal;
}

.footer-container {
    background-color: #5B6D50;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lalezar', sans-serif;
}


.footer-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;

}

.footer-link-wrappers {
    display: flex;

}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer-link-items h2 {
    margin-bottom: 10px;
}

.footer-link-items > h2 {
    color: #fff;
}

.footer-link-items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-link-items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

.social-icon-link {
    color: #fff;
    font-size: 24px;
}

.social-media {
    max-width: 1000px;
    width: 100%;
}

.social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social-logo {
    display: flex;
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    text-decoration: none;
    font-size: 2rem;
    align-self: center;
    cursor: pointer;
}

.website-rights {
    color: #fff;
}

@media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrappers {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  
/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/global.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #0070f3;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/styles/navbar.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/* Navbar styles for the application */
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

@font-face {
    font-family: 'Lalezar';
    src: url('https://fonts.gstatic.com/s/lalezar/v10/2sD4c0v1g3Y5f6x8z7k0.woff2') format('woff2');
         
         
    font-weight: normal;
    font-style: normal;
}

  .navbar {
    font-family: 'Lalezar', Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
    background-color: #5B6D50;
    display: flex; 
    align-items: center; 
    background-color: #5B6D50;
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px; 
    padding: 10px 20px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .logo{
    display: flex;
    align-items: center;
    font-size: 70px;
    color: white;
  }
  .logo img {
    border-radius: 8px;
    width: 125px;
    height: 125px;
    margin-right: 10px;
  }
  
  .nav-links{
    font-size: 20px;
    display: flex;
    margin-left: auto;
    align-items: flex-end;
    color: #f2f2f2;
    background: #5B6D50;
    text-align: center;
    padding: 14px 16px;
    gap: 15px;
    margin-right: 40px;
  }
  
  .nav-links .cart{
    background-color: #1f380f;
    padding: 14px 16px;
    border-radius: 15px;
    display: flex;
    align-items:center;
    gap: 5px;
  }
  
  
  .nav-links .cart img {
    border: #000000;
    position: relative;
    top: -3px; 
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
